{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <!-- Form group for title field -->
      <legend class="border-bottom mb-4">Create a Post</legend>
      <div class="form-group">
        {{ form.title.label(class="form-control-label") }}

        <!-- If error occurs, send error message -->
        {% if form.title.errors %}
          {{ form.title(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.title.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
              {{ form.title(class="form-control form-control-lg") }}
        {% endif %}
      </div>

      <!-- Form group for text -->
      <div class="form-group">
        {{ form.text.label(class="form-control-label") }}

        {% if form.text.errors %}
          {{ form.text(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.text.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
              {{ form.text(class="form-control form-control-lg") }}
        {% endif %}
      </div>
    </fieldset>
    </br>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info")}}
  </form>
</div>
{% endblock %}