{% extends "base.html" %} {% block title %}Genres{% endblock %} {% block content %}
<div class="container">
  <h2 class="featurette-heading" class="text">Genres</h2>
  <h4 class="text-center">Explore the World of Music Genres</h4>
  <body>
    <!-- Music Featurette Rock -->
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Rock</h2>
        <p class="lead"> Rock music is a genre characterized by its strong use of amplified instruments like electric guitars, 
                          bass, and drums, often with passionate vocals. It originated in the 1950s and has branched into subgenres 
                          like classic rock, alternative, and punk. Iconic examples of rock songs include "Stairway to Heaven" by Led 
                          Zeppelin, "Smells Like Teen Spirit" by Nirvana, and "Bohemian Rhapsody" by Queen, showcasing its diverse 
                          appeal.</p>
      </div>
      <div class="col-md-5">
        <img src="../static/assets/queen.jpg" alt="Queen" width="100%">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Music Featurette Pop -->
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Pop</h2>
        <p class="lead"> Pop music is a genre characterized by its catchy melodies, upbeat rhythms, and broad appeal to a wide 
                         audience. It often incorporates elements from other genres and focuses on creating accessible and 
                         radio-friendly songs. Examples of pop songs include "Shape of You" by Ed Sheeran, "Bad Guy" by Billie 
                         Eilish, and "Dynamite" by BTS, all known for their infectious hooks and popularity worldwide. </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../static/assets/billie.jpg" alt="Billie Eilish" width="100%">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Music Featurette Jazz -->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Jazz</h2>
        <p class="lead">Jazz is a genre of music that originated in the early 20th century in African-American communities. 
                        It is known for its improvisation, syncopation, and complex harmony. Jazz often features instrumental 
                        solos and showcases the musicians' creativity and skill. It has various subgenres like swing, bebop, and 
                        fusion. Famous jazz artists include Louis Armstrong, Miles Davis, and Ella Fitzgerald. </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../static/assets/miles.jpg" alt="Miles Davis" width="100%">
      </div>
    </div>

    <hr class="featurette-divider">


    <!-- Music Featurette Country -->
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Country</h2>
        <p class="lead"> Country music is a genre rooted in American folk music, often telling stories of life, love, 
              and everyday experiences. It features acoustic instruments like guitars, fiddles, and banjos, along with heartfelt 
              vocals. Country music has evolved into different subgenres like traditional country, country pop, and outlaw country. 
              Iconic country artists include Johnny Cash, Dolly Parton, and Garth Brooks.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../static/assets/cash.png" alt="Johnny Cash" width="100%">
      </div>
    </div>

    
    <hr class="featurette-divider">

        <!-- Music Featurette Hip Hop / Rap -->
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Hip Hop / Rap</h2>
            <p class="lead">Hip-hop/rap is a genre that emerged in the 1970s in African-American communities. 
              It features rhythmic and spoken-word lyrics delivered over a beat, often addressing social issues, 
              personal experiences, or storytelling. Hip-hop incorporates various elements like sampling, scratching, 
              and beatboxing. Notable artists include Tupac Shakur, Jay-Z, and Kendrick Lamar, who have left a significant 
              impact on the genre's evolution and cultural influence. </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img src="../static/assets/snoop.jpg" alt="Snoop Dogg" width="100%">
            <p>----</p>
          </div>
        </div>
    
        <hr class="featurette-divider">

            <!-- Music Featurette Classical -->
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Classical</h2>
        <p class="lead"> Classical music is a genre with a long and rich history, dating back to the medieval and 
          Renaissance periods. It is known for its formal structure and composition, often performed by orchestras and 
          ensembles. Classical music covers a wide range of styles, from Baroque to Romantic to Contemporary. Renowned 
          composers like Bach, Mozart, Beethoven, and Tchaikovsky have made lasting contributions to this genre, creating 
          timeless masterpieces that continue to be celebrated today.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../static/assets/joe.jpg" alt="Joe Hisaishi" width="100%">
      </div>
    </div>

    <hr class="featurette-divider">

          <!-- Music Featurette K-Pop -->
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">K-Pop</h2>
              <p class="lead"> K-pop, short for Korean pop music, is a genre that originated in South Korea. 
                It blends various musical styles, including pop, hip-hop, R&B, and electronic dance music. K-pop 
                is characterized by its catchy melodies, impressive choreography, and visually appealing music videos. 
                It has gained immense popularity worldwide, with artists and groups like BTS, BLACKPINK, Tomorrow X Together, and TWICE 
                becoming global sensations, attracting a passionate and dedicated fanbase known as "K-pop stans."</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img src="../static/assets/svt.jpg" alt="Seventeen" width="100%">
            </div>
          </div>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
  </body>
</html>


{% endblock %}