{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
  <body>
    <!-- Carousel -->
      <div id="hero-carousel" class="carousel slide  mag"  data-bs-ride="carousel" >
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    
        <div class="carousel-inner">
          <div class="carousel-item active c-item">
            <img src="../static/assets/tvgirl.jpg" class="d-block w-100 c-img" alt="Slide 1">
            <div class="carousel-caption top-0 mt-4">
              <p class="mt-5 fs-3 text-uppercase">Discover your music</p>
              <h1 class="display-1 fw-bolder text-capitalize">Music Hub</h1>
              <a href="/sign-up">
              <button class="btn btn-primary px-4 py-2 fs-5 mt-5">Sign Up Now</button>
              </a>
            </div>
          </div>

          <div class="carousel-item c-item">
            <img src="../static/assets/laneway.png" class="d-block w-100 c-img" alt="Slide 2">
            <div class="carousel-caption top-0 mt-4">
            </div>
          </div>
          <div class="carousel-item c-item">
            <img src="../static/assets/lightitup.jpg" class="d-block w-100 c-img" alt="Slide 3">
            <div class="carousel-caption top-0 mt-4">
              </a>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="../static/assets/blink182.jpg" alt="Blink-182 Logo" width="150" height="150" class="rounded-circle">

        <h2>The Rolling Stones</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="../static/assets/rhcp.jpg" alt="Red Hot Chilli Peppers" width="150" height="150" class="rounded-circle">

        <h2>Blink-182</h2>
        <p>Some brief description/information will be put here about the band Blink-182. </p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="../static/assets/rolling.png" alt="Blink-182 Logo" width="155" height="150" class="rounded-circle">
        
        <h2>Red Hot Chilli Peppers</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <!-- Music Featurette 1 -->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Welcome to Music Hub! Where you can discover your<span class="text-colour"> Music Oasis</span></h2>
        <p class="lead">Embark on a musical journey like no other with Music Hub. Uncover hidden gems, explore diverse genres, and find your favorite tunes effortlessly.</p>
      </div>
      <div class="col-md-5">
        <img src="../static/assets/fob.jpg" alt="Fall Out Boy" width="100%">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Music Featurette 2 -->
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><span class="text-colour">Engage and Connect</span> with the Music Community with our Blog!</h2>
        <p class="lead">At Music Hub, our blog isn't just a one-way street. Discover fresh perspectives on your favorite artists and albums. Be part of something bigger as you connect with fellow music lovers from around the globe. </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../static/assets/or.jpg" alt="Olivia Rodrigo" width="100%">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Music Featurette 3 -->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Join the Conversation. <span class="text-colour"> Share your thoughts.</span></h2>
        <p class="lead">Leave comments, share your thoughts, and interact with our users! Have a topic you're eager to explore? The blog is your space to be heard and be inspired by the power of music. Together, let's create a dynamic hub of musical exploration and celebration!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../static/assets/txt2.jpg" alt="Tomorrow x Together" width="100%">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
  </body>
</html>


{% endblock %}